.button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  transform: rotateX(10px);
}

.dealer {
  background-color: white;
  font-weight: 600;
  font-size: 9px;
  color: black;
  transform: rotate(10deg);
}

.small {
  background-color: blue;
  color: white;
  font-size: 11px;
  transform: rotate(-10deg);
}

.big {
  background-color: yellow;
  font-weight: 600;
  font-size: 15px;
  color: black;
  transform: rotate(5deg);
}
