#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #ffffff;
  border-right: 1px solid #ccc;
  z-index: 1000;
}

#subMenu {
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  left: 250px;
  top: 0;
  width: 250px;
  transition: transform 250ms ease-in-out;
  background: #ffffff;
  z-index: 1000;
}

.sidebarMenuInner {
  @apply flex flex-col z-50 fixed font-mono w-full p-2;
}

.subMenuInner {
  @apply flex flex-col z-50 font-mono w-full p-2 overflow-y-scroll;
}

.sidebarMenuInner li {
  list-style: none;
  color: #000000;
  padding: 5px;
}

.subMenuInner li {
  @apply flex flex-col items-center list-none p-1;
}

input[id="openSidebarMenu"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

.hide {
  transform: translateX(-500px);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.subMenuToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 99;
  height: 20px;
  width: 16px;
  margin: 5px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.chevron {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.diagonal.part-3 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 4px;
  transform: rotate(45deg);
}

.diagonal.part-4 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 8px;
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

input[id="openSubMenu"]:checked ~ .subMenuToggle > .diagonal.part-3 {
  transition: all 0.3s;
  box-sizing: border-box;
  margin-top: 9px;
}
input[id="openSubMenu"]:checked ~ .subMenuToggle > .diagonal.part-4 {
  transition: all 0.3s;
  box-sizing: border-box;
  margin-top: -2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  background-color: #fff;
  border: 1px solid #ccc;
}

input:checked + .slider {
  background-color: white;
  box-shadow: inset 0px 0px 9px 4px #e5e7eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d34934;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.example-card {
  width: 35px;
  height: 50px;
  margin: 3px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.bg-cream {
  background: #fefcf4;
}
